
GEOCODER_USER_AGENT=SpotNest/1.0
RAZORPAY_KEY_ID=rzp_test_replace_me
RAZORPAY_KEY_SECRET=replace_me
RAZORPAY_WEBHOOK_SECRET=replace_me



# VITE_RAZORPAY_KEY_ID=rzp_test_StcwyZuXyLQ2Ra
# RAZORPAY_KEY_SECRET=1zY11SR8avKiGJaLAV5WZg2R